* {
    margin: 0;
  }
  
  body {
    margin-left: auto;
    margin-left: auto;
    width: 80%;
    border-left: 1px solid #cf391d;
    border-right: 1px solid #cf391d;
    font-family: Bodoni, sans-serif;
  }
  
  h1,h2,h3 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, sans-serif;
  }
  
  header {
    background-color: #cf391d;
    text-align: center;
    border-bottom: 2px solid #000000;
  }
  
  .logo {
    float: left;
    width: 60px;
    height: 60px;
  }
  
  footer {
    background-color: #cf391d;
    color: #000000;
    text-align: center;
    border-bottom: 2px solid #000000;
  }
  
  .icons {
    width: 2rem;
    height: 2rem;
  }
  