 
* {
  margin: 0px;
}

body {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-left: 1px solid #ffb6c1;
  border-right: 1px solid #ffb6c1;
  font-family: cursive;
}


header {
  background-color: #ffb6c1;
  text-align: center;
  border-bottom: 2px solid #000000;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  clear: none;
}

.a { 
     text-decoration-line: none; 
     color: #fff; 
     padding: 2px 6px; 
     border-radius: 3px; 
     transition: 0.4s; 
 } 
  
 .a:hover { 
     background-color: #d1024e; 
 }

.logo { 
   float: left; 
   width: 60px; 
   height: 60px; 
   border-radius: 40px; 
 }

footer {
  background-color: #ffb6c1;
  color: #000000;
  text-align: center;
  border-bottom: 2px solid #000000;
}

.icons {
  width: 2rem;
  height: 2rem;
}

img {height: auto;
     width: 100%;}

@media(max-width:768px) {
    .col {
        width: 100%;
    }