* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  width: 80%;
  border-left: 1px solid #ffb6c1;
  border-right: 1px solid #ffb6c1;
  font-family: Bodoni, sans-serif;
}

h1,
h2,
h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, sans-serif;
  color: #ffb6c1;
}

header {
  background-color: #ffb6c1;
  text-align: center;
  display: flex;
  border-bottom: 2px solid #000000;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  clear: none;
}

header a {
  text-decoration-line: none;
  border: none;
  background-color: none;
  padding: 5px 10px;
  margin: 3px;
  border-radius: 4px;
  color: #fff;
  float: right;
  transition: 0.4s;
  font-weight: 300;
  flex-wrap: nowrap;
}

header a:hover {
  background-color: #ff7f81;
}

.logo {
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 40px;
}

img.capa {
  width: 100%;
  height: 700px;
  margin: auto;
}
form{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 1rem 20rem 1rem 1rem;
}

#formBloco {
  margin: 1rem 2rem 1rem 1rem;
}

img.capahome {
  width: 100%;
  height: 700px;
  margin: auto;
}

.botão {
  background-color: #ff7f81;
  color: #fff;
  padding: 6px 15px;
  border: none;
  border-radius: 20px;
}

footer {
  background-color: #ffb6c1;
  color: #000000;
  text-align: center;
  border-bottom: 2px solid #000000;
  
}

.icons {
  width: 2rem;
  height: 2rem;

}
  